.DS_Store

# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db
*.sqlite3

# Logs:
*.log

# Eclipse settings:
*.project
*.prefs
*.pydevproject

# media and static
media
collected_static

# pyCharm
.idea/

# autoenv:
.env*

# local settings
local_settings.py*