<!doctype html>{% load compress %}
<!--[if IE 7]>
<html class="ie ie7" lang="ko">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="ko">
<![endif]-->
<!--[if !(IE 7) | !(IE 8) ]><!-->
<html class="no-js" lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PyCon Korea</title>
    <meta name="description" content="파이콘 코리아">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">

    <meta property="og:title" content="파이콘 코리아">
    <meta property="og:image" content="">
    <meta property="og:image:width" content="180">
    <meta property="og:image:height" content="180">
    <meta property="og:site_name" content="파이콘 코리아">
    <meta property="og:url" content="">
    <meta property="og:description" content="파이콘 코리아">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="">
    <link rel="apple-touch-icon-precomposed" href="/static/img/app-l.png" media="screen and (-webkit-min-device-pixel-ratio: 2)">
    <link rel="apple-touch-icon-precomposed" href="/static/img/app-s.png" media="screen and (-webkit-device-pixel-ratio: 1.5)">
    <link rel="apple-touch-icon-precomposed" href="/static/img/app-l.png">
    {% compress css %}
    <link type="text/x-sass" rel="stylesheet" href="/static/css/sass/main.scss" charset="utf-8">
    {% endcompress %}
    <!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="/static/css/main_ie.css"><![endif]-->

    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
    <header id="header">
        <div class="container-fluid">
            <h1>파이콘 코리아</h1>
            <nav id="nav">
                <ul>
                    <li><a href="#about" data-scroll="about">about</a></li>
                    {% if is_proposal_now %}
                        <li><a href="#cfp" data-scroll="cfp">call for proposal</a></li>
                    {% else %}
                        <li><a href="#program" data-scroll="program">program</a></li>
                        <li><a href="#speaker" data-scroll="speaker">speaker</a></li>
                    {% endif %}
                    <li><a href="#sponsor" data-scroll="sponsor">sponsor</a></li>
                    <li><a href="#venue" data-scroll="venue">venue</a></li>
                </ul>
            </nav>

{#            <div class="utils">#}
{#                <a href="#" class="fb">facebook</a>#}
{#                <a href="#" class="twitter">twitter</a>#}
{#                <a href="#" class="register">register</a>#}
{#            </div>#}
            <a href="#" class="m-menu" id="m-menu"><span>≡</span> Menu</a>
        </div>
    </header>

    <section id="main">
        <div class="container-fluid">
            <h1>PyCon Korea 2014<span>PYCON KOREA <b>AUG 30TH</b> at Seoul</span></h1>
            {% if is_proposal_now %}
                <a class="cfp" href="#cfp" data-scroll="cfp">Call for Proposal<span>발표자 접수중</span></a>
            {% else %}
                <a class="register">REGISTER NOW<span>please register for more information</span></a>
            {% endif %}
        </div>
    </section>
    
    <section id="about" data-anchor="about">
        <div class="container-fluid">
            <h2>About</h2>
            <h3>PyCon Korea</h3>
            <p class="date">30 Aug 2014, Seoul</p>
	    <p class="txt">PyCon은 오픈소스 프로그래밍 언어인 Python 사용자들을 위한 행사입니다. <br>
	    올해 한국에서 처음으로 열리는 PyCon Korea는 개발자들의 지식과 경험을 공유하여 한국 개발자 커뮤니티와 Python 의 활성화에 기여하고자 합니다. <br/>
            <ul class="row">
                <li class="col-md-4">
                    <i class="ico ico-1"></i>
                    <strong>Insight</strong>
		    실제 사례를 통해보는 Python의 새로운 모습
                </li>
                <li class="col-md-4">
                    <i class="ico ico-2"></i>
                    <strong>Networking</strong>
		    한국 Python 사용자들과 네트워킹 할 수 있는 기회
                </li>
                <li class="col-md-4">
                    <i class="ico ico-3"></i>
                    <strong>Hack</strong>
		    Python에 대한 경험을 공유하고 Hacking 할 수 있는 자리 
                </li>
            </ul>
	    <p class="txt"><a href="/coc"><strong>Code Of Conduct</strong></a></p>
        </div>
    </section>

    {% if is_proposal_now %}
    <section id="cfp" data-anchor="cfp">
        <div class="container">
            <h2>Call for Proposal</h2>

            <div>
                <h3>주제</h3>
                <p>시작하시는 분들을 위한 Start 트랙과 더 나아가시는 분들을 위한 Running 트랙 두가지로 진행됩니다. <br/>트랙별 주제는 다음과 같습니다.</p>

                <div class="contents row col-md-offset-3">
                    <div class="content start col-md-3">
                        <h4>Start</h4>
                        <ul>
                            <li>개발환경</li>
                            <li>사용경험</li>
                            <li>웹개발</li>
                            <li>자동화</li>
                        </ul>
                    </div>
                    <div class="content running col-md-3">
                        <h4>Running</h4>
                        <ul>
                            <li>BioPython</li>
                            <li>Data Analysis</li>
                            <li>Scalable Infrastructure</li>
                            <li>Python in Enterprise<li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="request">
                <h3> 발표신청</h3>
                <p>다른 Python 사용자들을 위해 귀한 경험을 공유해주실 분은<br/>
		 다음의 Google Form 으로  발표자 소개와 발표하실 내용에 대한 간략한 설명을 보내주세요. <br/>
		30분정도의 본내용과  10분정도의 질답이 있는 정규발표와<br/>
		5분내에 짤막하게 발표하는 Lightning Talk 가 있습니다.  </p>
		
                <p class="email"><a href="http://goo.gl/p9z0DQ">발표자 지원하기</a></p>
            </div>

            <div class="schedule col-md-offset-4 col-md-4">
                <h3>일정</h3>
                <dl>
                    <dt>2014/07/06(Sun)</dt>
                        <dd>발표접수 마감</dd>
                    <dt>2014/07/21(Mon)</dt>
                        <dd>발표선정 발표</dd>
                    <dt>2014/08/01(Fri)</dt>
                        <dd>참가신청시작</dd>
                    <dt>2014/08/30(Sat)</dt>
                        <dd>PyCon!</dd>
                </dl>
            </div>
        </div>
    </section>
    {% else %}

    <section id="program" data-anchor="program">
        <div class="wrapper">
            <h2>PROGRAM</h2>
            <ul>
                <div class="thread"></div>
                {% for program in programs %}
                <li>
                    <span class="time">{{ program.start|date:"f" }}</span>
                    <div class="chain"></div>
                    <span class="title">{{ program.title }}</span>
                    <span class="author">{{ program.speaker.name }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section id="speaker" data-anchor="speaker">
        <div class="container-fluid">
            <h2>speakers</h2>
            <ul class="row">

                {% for speaker in speakers %}
                <li class="col-md-12">
                    <div class="thumb"><img src="{{ speaker.picture.url }}" alt=""><img class="frame" src="/static/img/frame.png" alt=""></div>
                    <p class="name">
                        <span class="tech">{{ speaker.company }}</span>
                        {{ speaker.name }}
                    </p>
                   {{ speaker.intro }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    {% endif %}

    <section id="sponsor" data-anchor="sponsor">
        <div class="container container-fluid">
            <h2>sponsors</h2>
	    <!--
            <p class="txt">thanks for support goes to</p>
            <p>행사에 도움을 주실 기업, 단체, 개인은 다음 메일로 연락주시기 바랍니다</p>
            <p class="email"><a href="mailto:pycon@python.or.kr?subject=[CFS]">pycon@python.or.kr</a></p>
{#            <ul class="row">#}
{#                {% for sponsor in sponsors %}#}
{#                <li class="col-md-2"><img src="{{ sponsor.logo.url }}" alt="{{ sponsor.title }}"></li>#}
{#                {% endfor %}#}
{#            </ul>#}
		-->
            <div class="center-list">
                <ul class="sponsors">
			<li class="sponsor">
				<a href="http://www.google.com"><img src="/static/img/sponsor-google.png" alt="google"></a></li>
			<li class="sponsor">
				<a href="http://developer.naver.com/wiki/pages/techSupport"><img src="/static/img/NAVER_D2_banner_164.png" alt="naver d2"></a></li>
			<li class="sponsor">
				<a href="https://github.com/"><img src="/static/img/sponsor-github.png" alt="github"><a></li>
                </ul>
            </div>
        </div>
    </section>

    <section id="venue" data-anchor="venue">
        <div class="wrapper">
            <h2>VENUE</h2>
            <p>숙명여대 창학 B107호 젬마홀</p>
        </div>
        <div id="map-canvas"></div>
    </section>

    <footer id="footer">
        <img src="/static/img/footer-logo.png">
        <p>Copyright ©Python Korea. All rights Reserved.</p>
    </footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>window.jQuery || document.write('<script src="/static/js/jquery-1.11.1.min.js"><\/script>')</script>
{% compress js %}
<script src="/static/js/showdown.js"></script>
<script src="/static/js/main.js"></script>
{% endcompress %}
</body>
</html>
{% comment %}
{% extends 'base.html' %}
{% load cache %}
{% block contents %}
    <section id="about" class="act">
        {% include 'page/_about.html' %}
    </section>

    {% cache CACHE_TIMEOUT programs %}
    <section id="programs" class="act">
        {% include 'page/_programs.html' %}
    </section>
    {% endcache %}

    {% cache CACHE_TIMEOUT speakers %}
    <section id="speakers" class="act">
        {% include 'page/_speakers.html' %}
    </section>
    {% endcache %}

    {% cache CACHE_TIMEOUT sponsors %}
    <section id="sponsors" class="act">
        {% include 'page/_sponsors.html' %}
    </section>
    {% endcache %}

    <section id="venue" class="act">
        {% include 'page/_venue.html' %}
    </section>
{% endblock %}
{% endcomment %}
