<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <meta name="description" content=""/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>PyConKr</title>
        {% block head %}{% endblock %}
        <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet" type="text/css">
        {% block css %}{% endblock %}
        <script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.backstretch.min.js"></script>
        <script src="{{ STATIC_URL }}js/base.js"></script>
        {% block js %}{% endblock %}
    </head>

    <body>
        <header id="header">
            <div class="contents-wrapper">
                <a class="logo" href="{% url 'index' %}" title="logo">LOGO</a>
                <nav class="menu">
                    <ul>
                        <li class="menu-item">
                            <a href="{% url 'about' %}" title="about">About</a>
                        </li>
                        <li class="menu-item">
                            <a href="#_" title="program">Programs&amp;Speakers</a>
                        </li>
                        <li class="menu-item">
                            <a href="{% url 'registration' %}">Registration</a>
                        </li>
                        <li class="menu-item">
                            <a href="{% url 'sponsors' %}" title="sponsors">Sponsors</a>
                        </li>
                        <li class="menu-item">
                            <a href="{% url 'news_list' %}" title="news">News</a>
                        </li>
                        <li class="menu-item">
                            <a href="{% url 'venue' %}" title="venue">Venue</a>
                        </li>
                    </ul>
                </nav>
                <nav class="account-menu">
                    <ul>
                        {% if user.is_authenticated %}
                        <li class="menu-item">
                            <a class="btn" href="{% url 'logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="menu-item">
                            <a class="btn" href="{% url 'signup' %}">Signup</a>
                        </li>
                        <li class="menu-item">
                            <a class="btn" href="{% url 'login' %}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header>
        <div class="body">
        {% block body %}{% endblock %}
        </div>
    </body>
</html>
