<!DOCTYPE html>
<html>
<head>

</head>
<body>
	<div class="account">
		{% if user.is_authenticated %}
			<li><a href="{% url 'logout' %}">Logout</a></li>
		{% else %}
			<li><a href="{% url 'signup' %}">Sign up</a></li>
			<li><a href="{% url 'login' %}">Login</a></li>
		{% endif %}
	</div>

	<div class="header">
		<div class="logo">
			<h1>Pycon201x Seoul</h1>
		</div>
		<div class="menu">
			<ul>
				<li><a href="">About</a></li>
				<li><a href="">Program</a></li>
				<li><a href="">Sponsors</a></li>
				<li><a href="">Propose</a></li>
				<li><a href="">News</a></li>
				<li><a href="">Venue</a></li>
			</ul>
		</div>
	</div>

	<div class="body">
	{% block body %}{% endblock %}
	</div>

	<div class="footer">

	</div>
</body>
</html>
