<!DOCTYPE html>
<html>
<head>

</head>
<body>
	<div class="account">

	</div>

	<div class="header">
		<div class="logo">
			<h1>Pycon201x Seoul</h1>
		</div>
		<div class="menu">
			<ul>
				<li><a href="">About</a></li>
				<li><a href="">Program</a></li>
				<li><a href="">Sponsors</a></li>
				<li><a href="">Propose</a></li>
				<li><a href="">News</a></li>
				<li><a href="">Venue</a></li>
				<li><a href="">Register</a></li>
			</ul>
			<ul>
				<li><a href="">Login</a></li>
			</ul>
		</div>
	</div>

	<div class="body">
	{% block body %}{% endblock %}
	</div>

	<div class="footer">

	</div>
</body>
</html>
