{% extends '_base.html' %}

{% block css %}
<style type="text/css">
#map-canvas {
    width: 300px;
    height: 300px;
}
</style>
{% endblock %}

{% block js %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script type="text/javascript">
var map;
var eventLocation = {{ event_location|safe }};
var restaurantList = {{ restaurant_list|safe }};
var accommodationList = {{ accommodation_list|safe }};

function addMarker(icon, latlng, info) {
    var marker = new google.maps.Marker({
        position: latlng,
        map: map,
        icon: icon
    });
    var infoWindow = new google.maps.InfoWindow(info);
    google.maps.event.addListener(marker, 'click', function () {
        infoWindow.open(map, marker);
    });
    return marker;
}

function setMarkerVisible(marker, visible) {
    [].concat(marker).forEach(function (marker) { marker.setVisible(visible); });
}

function onCheckboxChanged(checkbox, list) {
    setMarkerVisible(list.map(function (item) { return item.marker; }), checkbox.checked);
}

google.maps.event.addDomListener(window, 'load', function() {
    map = new google.maps.Map(document.getElementById('map-canvas'), {
        zoom: 15,
        center: eventLocation.latlng
    });
    addMarker('{{ STATIC_URL }}img/googlemap/marker/accommodation.png', eventLocation.latlng, eventLocation.info);
    restaurantList.forEach(function (restaurant) {
        restaurant.marker = addMarker('{{ STATIC_URL }}img/googlemap/marker/restaurant.png', restaurant.latlng, restaurant.info);
    });
    accommodationList.forEach(function (accommodation) {
        accommodation.marker = addMarker('{{ STATIC_URL }}img/googlemap/marker/accommodation.png', accommodation.latlng, accommodation.info);
    });
});
</script>
{% endblock %}

{% block body %}
<div class="contents-wrapper">
    <h1>Place</h1>
    <div>
        <h3>Filter</h3>
        <ul>
            <li><label><input type="checkbox" onchange="onCheckboxChanged(this, accommodationList)" checked/>Where to Sleep</label></li>
            <li><label><input type="checkbox" onchange="onCheckboxChanged(this, restaurantList)" checked/>Where to Eat</label></li>
        </ul>
    </div>
    <div id="map-canvas"></div>
</div>
{% endblock %}